.main-nav{
    display: grid;
    height: 5rem;
    width: 100%;
    color: rgba(15, 15, 16, 0.814);
    font-size: 24px;
    background: linear-gradient(
      90deg,
      rgb(24, 167, 186) 0%,
      rgb(37, 184, 138) 100%
    );
    grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
}
.logo{
    grid-column: 1/3;
    justify-content: start;
    align-items: center;
    padding: 15px;
}
.menu-link {
    grid-column: 3/4;
} 
.menu-link ul{
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.menu-link li{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
.menu-link li a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(10, 10, 10);
}
.hamburger-menu{
    grid-column: 5/5;
    text-align: center;
    margin: auto;
    margin-right: 500px;
    position: relative;
    
}

@media (max-width: 1080px) {
    .main-nav {
        height: 8rem;
        grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
    }
    .logo,
    .menu-link ul {
        height: 8rem;
    } 
}

@media (max-width: 998px) {
    .main-nav {
        height: 7rem;
        grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
    }
    .menu-link {
        display: none;
    }
    .logo{
        height: 7rem;
    } 
    .mobile-menu-link {
        grid-column: 2/4;
        position: relative;
        z-index: 99;
    }
    .mobile-menu-link {
        background-color: rgb(243, 246, 249);
        height: 20rem;
        display: grid;
        grid-column: 2/5;
        align-items: center;
        padding-left: 3rem;
        transition: all 2s linear;
        transform-origin: top;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    }
    .mobile-menu-link ul {
        height: 20rem;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: start;
    }
    .mobile-menu-link ul li:first-child {
        transition-delay: 0.2s;
    }
    .main-nav .hamburger-menu{
        display: block;
        font-size: 2.5rem;
    }
}

@media (max-width: 798px) {
    .main-nav {
        height: 6rem;
        grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
    }
    .logo {
        height: 6rem;
    }
    
    .main-nav .hamburger-menu {
        display: block;
        font-size: 2.5rem;
    }
}

@media (max-width: 520px) {
    .main-nav {
      height: 6rem;
      grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
    }
  
    .logo,
    .social-media ul {
      height: 6rem;
    }
  
    .logo h2 {
      font-size: 2rem;
    }
    .main-nav .hamburger-menu {
        display: block;
        font-size: 2.5rem;
    }
}